<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <script src="../vue.js"></script>
    <title>Your Mom</title>
  </head>
  <body>
    <div id="root">
      <ul>
        <li v-for="name in names">{{ name }}</li>
      </ul>
      <input type="text" id="input" v-model="newName" />
      <button @click="addName">Add</button>
      <p>the value of the input is: {{ message }}</p>
    </div>
    <script>
      new Vue({
        el: '#root',
        data: {
          newName: '',
          names: ['Paul', 'Dave', 'Json', 'jimmeny pricket']
        },
        methods: {
          addName() {
            this.names.push(this.newName);
            this.newName = '';
          }
        }
      });
    </script>
  </body>
</html>
